<!-- Start Footer -->
<footer class="footer-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12 margin-bottom_30 footer-title">
        <!-- <h2>Mark-It <em>In</em></h2> -->
        <img src="assets/images/mark_it_in-logo.png" alt="alternative">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5 white_fonts">
        <div class="row">
          <div class="col-md-12 white_fonts margin-bottom_30">
            <h4>Contact Us</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <ul class="full social_icon margin-top_20">
              <li>
                <i class="fa fa-envelope" style="margin-top: -2px;"></i>
              </li>
              <li>
                consultation@gmail.com <br />consultation@gmail.com
              </li>
              </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <ul class="full social_icon margin-top_20">
              <li>
                <i class="fa fa-phone-square" style="margin-top: -2px;"></i>
              </li>
              <li>
                +91 7586656566 <br />+91 7586656566
              </li>
              </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-3 white_fonts margin-bottom_30">
        <div class="row">
          <div class="col-md-12">
            <div class="footer_menu">
              <h4>Menus</h4>
              <div class="col-md-12">
              <ul class="float-left mt-3">
                <li><a href="#">Home</a></li>
                <li><a routerLink="." fragment="whatwedo">About Us</a></li>
                <li><a routerLink="." fragment="howwedo">Services</a></li>
                <!-- <li><a [routerLink]="['/blog']">Blog</a></li> -->
                <li><a routerLink="." fragment="contactus">Contact us</a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 white_fonts">
        <div class="row">
            <div class="col-md-12 white_fonts margin-bottom_30">
              <h4>Social Connect</h4>
            </div>
            <div class="col-md-12">
              <ul class="full social_icon margin-top_20">
                <li>
                  <a href="https://www.facebook.com/Mark-it-in-104447258085438/" target="_blank"><i class="fa fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/company/mark-it-in" target="_blank"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="https://instagram.com/digitalmarkit.in?igshid=ls35l7kcu4cm " target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->

<!-- Footer Bottom -->
<div class="footer_bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="crp">© 2020 Business . All Rights Reserved.</p>
        <ul class="bottom_menu">
          <li><a href="#">Term of Service</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Bottom -->
<!-- <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a> -->
