.white_fonts p,
.white_fonts h1,
.white_fonts h2,
.white_fonts h3,
.white_fonts h4,
.white_fonts h5,
.white_fonts h6,
.white_fonts ul,
.white_fonts ul li,
.white_fonts ul li a,
.white_fonts ul i,
.white_fonts .post_info i,
.white_fonts div,
.white_fonts a.read_more {
  color: #000 !important;
}

img {
  width: 150px;
  height: 50px;
  margin-top: -3px;
  border-radius: 5px;
}

.white_fonts h3 {
  font-size: 18px;
}

.white_fonts ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

/* ul.social_icon li a {
    width: 35px;
    height: 35px;
    background: #fff;
    float: left;
    border-radius: 100%;
    text-align: center;
    font-size: 16px;
} */

ul.social_icon li i {
  color: #efefef !important;
  /* line-height: 35px; */
}

ul.social_icon li {
  float: left;
  margin-right: 3%;
}

.footer-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  transition: all 0.3s ease 0s;
  color: #efefef !important;
  text-align: left;
}

.footer-title h2 {
  font-size: 24px;
  font-weight: 700;
}

.footer-title h2 em {
  color: #000 !important;
  background-color: #efefef !important;
  font-style: normal;
  padding: 0px 10px;
}

.footer-box {
  padding: 30px 70px;
  /* background-image: linear-gradient(315deg, #36096d 0%, #3e5f7a 74%); */
  background-color: #4891cd;
}

.footer-box .footer-company-name {
  text-align: center;
  margin: 0px;
  color: #333;
  font-size: 13px;
  font-weight: 400;
  padding-top: 2px;
}

.footer-box .footer-company-name a {
  color: #333;
  text-decoration: underline !important;
}

.footer-box .footer-company-name a:hover {
  color: #e91327;
}

.bottom_menu {
  float: right;
}

.margin-bottom_30 {
  margin-bottom: 30px;
  text-align: left;
}

ul.bottom_menu li {
  float: left;
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;
}

ul.bottom_menu li a {
  color: #000;
}

.footer_bottom p.crp {
  float: left;
  margin: 0;
  color: #000;
  font-size: 15px;
}

.footer_bottom {
  background: #efefef;
  padding: 10px 0;
}

.footer_bottom p.crp {
  float: left;
  margin: 0;
  color: #000;
  font-size: 15px;
}

.footer_menu {
  float: left;
  width: 50%;
  text-align: left;
}

.footer_menu ul {
  list-style: none;
  width: 100%;
  float: left;
}

.footer_menu li a {
  font-size: 16px;
  font-weight: 300 !important;
  color: #fff !important;
}

.footer_menu h3 {
  margin-bottom: 10px;
}

.fa {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook-f {
  background: #3b5998;
}

.fa-facebook-f:before {
  padding: 0px 3px;
}

.fa-phone-square:before {
  font-size: 26px;
  transition: none;
}

.fa-envelope:before {
  font-size: 24px;
  transition: none;
}

.fa-twitter {
  background: #55acee;
}

.fa-google-plus {
  background: #dd4b39;
}

.fa-instagram {
  background: linear-gradient(to right, #720e9e 0, #dd4b39 100%);
}

.fa-linkedin {
  background: #007bb5;
}

/* mobile or only mobile */
@media (max-width: 767px) {
  .footer-box {
    padding: 30px 12px;
  }
}
