<div class="blog-heading products-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>Blog Content</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade"
            *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title ><h2>{{post.postTitle}}</h2></mat-card-title>
          <mat-card-subtitle class="card-dd">{{post.postDesc}}</mat-card-subtitle>  
          <mat-card-subtitle class="card-dd-p">Created by: {{post.postAuthor}}, {{post.created | date}}, updated: {{post.updated | date}}</mat-card-subtitle>        
        </mat-card-header>
        <img mat-card-image class="card-image" src="{{post.postImgUrl}}" alt="{{post.postTitle}}">
        <mat-card-content class="card-content">
          <dl>
            <dt class="card-text">Post Content:</dt>
            <dd class="card-dd" [innerHTML]="post.postContent"></dd>
            <dt class="card-text">Reference:</dt>
            <dd class="card-dd">{{post.postReference}}</dd>
          </dl>
        </mat-card-content>
      </mat-card>
    </div>
