<!-- Banner Starts Here -->
<div class="FirstView header-text">
  <div class="FirstView_Inner">
    <p class="Liner AnimAppear2 appear">
      Maximise your <br />
      conversions within <br />
      90 days
    </p>
    <p class="Note1 AnimAppear1 appear">
      Helping Start-ups & small businesses scale up digitally.<br />
    </p>
    <div class="ListUtilityButton AnimAppear1 appear">
      <a href="/input/0" class="touch-button w-button">
        Book Free Consultation</a
      >
    </div>
  </div>
  <div class="FirstView_Images AnimAppear3 appear">
    <div class="FirstView_Banner"></div>
  </div>
</div>
<!-- Banner Ends Here -->

<!-- Certificates -->
<div class="happy-clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Certificates</h2>
        </div>
      </div>
      <div class="marquee">
        <div class="track">
          <div class="content">
            <img class="img1" src="assets/images/client-01.png" alt="1" />
            <img class="img1" src="assets/images/client-01.png" alt="1" />
            <img class="img1" src="assets/images/client-01.png" alt="1" />
            <img class="img1" src="assets/images/client-01.png" alt="1" />
            <img class="img1" src="assets/images/client-01.png" alt="1" />
            <img class="img1" src="assets/images/client-01.png" alt="1" />
            <img class="img1" src="assets/images/client-01.png" alt="1" />
            <img class="img1" src="assets/images/client-01.png" alt="1" />
            <img class="img1" src="assets/images/client-01.png" alt="1" />
            <img class="img1" src="assets/images/client-01.png" alt="1" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Partners -->

<!-- Trusted Partners -->
<div class="happy-clients" style="display: none">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Trusted Partners</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-clients owl-carousel">
          <div class="client-item">
            <img src="assets/images/client-01.png" alt="1" />
          </div>

          <div class="client-item">
            <img src="assets/images/client-02.jpg" alt="2" />
          </div>

          <div class="client-item">
            <img src="assets/images/client-03.png" alt="3" />
          </div>

          <div class="client-item">
            <img src="assets/images/client-01.png" alt="4" />
          </div>

          <div class="client-item">
            <img src="assets/images/client-01.png" alt="5" />
          </div>

          <div class="client-item">
            <img src="assets/images/client-01.png" alt="6" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Certificates -->

<!-- What we Do -->
<div id="whatwedo" class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>What's Mark-It In</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <div class="container">
          <h2>Mark-it In is a digital advertising agency.</h2>
          <br />
          <h4>
            we connect start-ups & small businesses with their most coveted
            potential buyers/customers.
          </h4>
          <br />
          <div class="ads-desc blk card-x-font">
            Helping start-ups & small business professionals to achieve
            explosive growth, save thousands on advertising and achieve maximum
            closures from their marketing campaigns.
          </div>
          <br />
        </div>
      </div>
      <div class="col-md-7">
        <div class="container-x">
          <div class="card-x">
            <div class="title">
              <h2>01</h2>
            </div>
            <div class="content">
              <br />
              <h3>Getting Started</h3>
              <br />
              <p class="ads-desc blk card-x-font">
                Start a new Campaign to test your market demand with the aim to
                drive incremental revenue.
              </p>
            </div>
          </div>

          <div class="card-x">
            <div class="title">
              <h2>02</h2>
            </div>
            <div class="content">
              <br />
              <h3>Optimise ROAS</h3>
              <br />
              <p class="ads-desc blk card-x-font">
                Optimize existing Ads to maximize conversion to drive more
                revenue without spending more on Ads.
              </p>
            </div>
          </div>

          <div class="card-x">
            <div class="title">
              <h2>03</h2>
            </div>
            <div class="content">
              <br />
              <h3>Grow Revenue</h3>
              <br />
              <p class="ads-desc blk card-x-font">
                Go hands-on the winning campaign to create explosive results and
                skyrocket your conversions.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End What we Do -->

<!-- Banner -->
<div id="#bann" class="banner">
  <a href="#">
    <span class="">GET IN TOUCH</span>
  </a>
</div>

<!-- Our Services -->
<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Services We Provide</h2>
        </div>
      </div>
      <div class="col-md-12">
        <h5 style="text-align: center; padding-bottom: 2%">
          We build integrated paid advertising programs that help ecommerce
          companies grow by targeting the right customers with the right message
          at the right time.
          <br />
        </h5>
      </div>
      <div class="cardBox flip-bck">
        <div class="card-a">
          <div class="front">
            <div class="ads ads-fb">
              <i
                class="fa fa-facebook"
                style="color: #ffffff; margin: 15%; font-size: 45px"
              ></i>
            </div>
            <div class="ads-text wht">
              <h3>Facebook & Insta Ads</h3>
            </div>
            <div class="ads-desc card-x-font">
              Capture new customers on-demand on the largest social media
              platforms <br />
            </div>
          </div>
          <div class="back ads-back">
            <div class="ads-desc">
              We do 95% of the work including strategy,<br />
              optimization & reporting.
              <ul class="flip-ul">
                <li>Audience targeting</li>
                <li>Ad Testing</li>
                <li>Shopping feeds</li>
                <li>Optimisation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="cardBox flip-bck">
        <div class="card-a">
          <div class="front">
            <div class="ads ads-google">
              <i
                class="fa fa-google"
                style="color: #ffffff; margin: 15%; font-size: 45px"
              ></i>
            </div>
            <div class="ads-text wht">
              <h3>Twitter Ads</h3>
            </div>
            <div class="ads-desc card-x-font">
              Target your potential consumers when they’re searching for a
              prominent solution on google. <br />
            </div>
          </div>
          <div class="back ads-back">
            <div class="ads-desc">
              We do 95% of the work including strategy,<br />
              optimization & reporting.
              <ul class="flip-ul">
                <li>Keyword Targeting</li>
                <li>Ad Testing</li>
                <li>Budget Optimisation</li>
                <li>Bid Management</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="cardBox flip-bck">
        <div class="card-a">
          <div class="front">
            <div class="ads ads-google">
              <i
                class="fa fa-twitter"
                style="color: #ffffff; margin: 15%; font-size: 45px"
              ></i>
            </div>
            <div class="ads-text wht">
              <h3>Twitter Ads</h3>
            </div>
            <div class="ads-desc card-x-font">
              Target your potential consumers when they’re searching for a
              prominent solution on google. <br />
            </div>
          </div>
          <div class="back ads-back">
            <div class="ads-desc">
              We do 95% of the work including strategy,<br />
              optimization & reporting.
              <ul class="flip-ul">
                <li>Keyword Targeting</li>
                <li>Ad Testing</li>
                <li>Budget Optimisation</li>
                <li>Bid Management</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--container-->
</div>
<!-- End Services -->

<!-- To be Proven -->
<!-- section -->
<div class="section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading-white">
          <h2>It's Proven Business</h2>
        </div>
      </div>
    </div>

    <div class="row margin-top_30">
      <div class="col-lg-12 proven-desc">
        <p>
          See for yourself. Here is a Before & After look at a successful lead
          gen campaign with Mark-It In
        </p>
      </div>
      <!-- Rounded switch -->
      <div class="col-lg-12 margin-top_30 proven-desc">
        <label>Before Mark-It In &nbsp;&nbsp;</label>
        <label class="switch">
          <input type="checkbox" (change)="checkValue($event)" value="" />
          <span class="slider round"></span>
        </label>
        <label>&nbsp;&nbsp;After Mark-It In</label>
      </div>
    </div>

    <div
      id="toggle_On"
      class="row margin-top_30 margin-left_15 counter_section"
      style="display: none"
    >
      <div class="col-sm-12 col-md-4">
        <div class="counter margin-top_30">
          <h2
            class="timer count-title count-number"
            data-to="53"
            data-speed="1500"
          ></h2>
          <p class="count-text">NOMINATIONS</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="counter margin-top_30">
          <h2
            class="timer count-title count-number"
            data-to="20"
            data-speed="1500"
          ></h2>
          <p class="count-text">AWARDS</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="counter margin-top_30">
          <h2
            class="timer count-title count-number"
            data-to="51"
            data-speed="1500"
          ></h2>
          <p class="count-text">AGENCIES</p>
        </div>
      </div>
    </div>

    <div
      id="toggle_Off"
      class="row margin-top_30 margin-left_15 counter_section"
      style="display: flex"
    >
      <div class="col-sm-12 col-md-4">
        <div class="counter margin-top_30">
          <h2
            class="timer count-title count-number"
            data-to="23"
            data-speed="1500"
          ></h2>
          <p class="count-text">NOMINATIONS</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="counter margin-top_30">
          <h2
            class="timer count-title count-number"
            data-to="7"
            data-speed="1500"
          ></h2>
          <p class="count-text">AWARDS</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="counter margin-top_30">
          <h2
            class="timer count-title count-number"
            data-to="31"
            data-speed="1500"
          ></h2>
          <p class="count-text">AGENCIES</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end section -->
<!-- End Proven -->

<!-- How we do -->
<div id="howwedo" class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Our Approach</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Mark-It In Approach</h2>
        <br />
        <h5>
          The approach that drives results & <br />
          builds meaningful relationships.
        </h5>
        <br />
        <div>
          <h5><a href="#">Read More >></a></h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="client-item">
          <img class="app-img" src="assets/images/Approach.png" alt="1" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="grid">
            <article>
              <i class="fa fa-users"></i>
              <div class="text">
                <h2>Strategy</h2>
                <ul class="grid-ul">
                  <li>Translate goals into leaks</li>
                  <li>Analyze performance</li>
                  <li>Develop & Prioritize tactics</li>
                </ul>
              </div>
            </article>
            <article>
              <i class="fa fa-code"></i>
              <div class="text">
                <h2>Optimization</h2>
                <ul class="grid-ul">
                  <li>Optimise campaign target</li>
                  <li>Test audiences offers</li>
                  <li>Find out best-performing areas</li>
                </ul>
              </div>
            </article>
            <article>
              <i class="fa fa-codepen"></i>
              <div class="text">
                <h2>Reporting</h2>
                <ul class="grid-ul">
                  <li>Report insightful results</li>
                  <li>Meetings</li>
                  <li>Proactive updates</li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End How we Do -->

<!-- Testimonials -->
<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Testimonials</h2>
          <!-- What other say for us -->
        </div>
      </div>
    </div>
    <div class="pb-4">
      <div id="downcarousel" class="container">
        <div class="card-t col-md-12 mt-2">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-ride="carousel"
            data-interval="100000"
          >
            <div class="w-100 carousel-inner mb-5" role="listbox">
              <div class="carousel-item active">
                <div class="bg"></div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="carousel-caption">
                      <div class="row">
                        <div class="col-sm-12 col-12">
                          <div class="align-items-start">
                            <img
                              src="assets/images/team_01.jpg"
                              alt=""
                              class="img-left"
                            />
                          </div>
                          <h2 class="right-h p-3">
                            Micheal Smith - <span>Web Developer</span>
                          </h2>
                          <p class="right-des">
                            Well incremented. Comes with recommended workout.
                            I'm using it to help with bladder leakage issues
                            that I've been experiencing since a recent
                            vasectomy.
                          </p>
                          <p class="right-small mr-2">- willi</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="carousel-caption">
                      <div class="row">
                        <div class="col-sm-12 col-12">
                          <div class="align-items-start">
                            <img
                              src="assets/images/team_02.jpg"
                              alt=""
                              class="img-left"
                            />
                          </div>
                          <h2 class="right-h p-3">
                            Helena Doe - <span>Architect</span>
                          </h2>
                          <p class="right-des">
                            Well incremented. Comes with recommended workout.
                            I'm using it to help with bladder leakage issues
                            that I've been experiencing since a recent
                            vasectomy.
                          </p>
                          <p class="right-small mr-2">- willi</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="carousel-caption">
                      <div class="row">
                        <div class="col-sm-12 col-12">
                          <div class="align-items-start">
                            <img
                              src="assets/images/team_03.jpg"
                              alt=""
                              class="img-left"
                            />
                          </div>
                          <h2 class="right-h p-3">
                            Helena Doe - <span>Architect</span>
                          </h2>
                          <p class="right-des">
                            Well incremented. Comes with recommended workout.
                            I'm using it to help with bladder leakage issues
                            that I've been experiencing since a recent
                            vasectomy.
                          </p>
                          <p class="right-small mr-2">- willi</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="bg"></div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="carousel-caption">
                      <div class="row">
                        <div class="col-sm-12 col-12">
                          <div class="align-items-start">
                            <img
                              src="assets/images/team_04.jpg"
                              alt=""
                              class="img-left"
                            />
                          </div>
                          <h2 class="right-h p-3">
                            Micheal Smith - <span>Web Developer</span>
                          </h2>
                          <p class="right-des">
                            Well incremented. Comes with recommended workout.
                            I'm using it to help with bladder leakage issues
                            that I've been experiencing since a recent
                            vasectomy.
                          </p>
                          <p class="right-small mr-2">- willi</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="carousel-caption">
                      <div class="row">
                        <div class="col-sm-12 col-12">
                          <div class="align-items-start">
                            <img
                              src="assets/images/team_05.jpg"
                              alt=""
                              class="img-left"
                            />
                          </div>
                          <h2 class="right-h p-3">
                            Helena Doe - <span>Architect</span>
                          </h2>
                          <p class="right-des">
                            Well incremented. Comes with recommended workout.
                            I'm using it to help with bladder leakage issues
                            that I've been experiencing since a recent
                            vasectomy.
                          </p>
                          <p class="right-small mr-2">- willi</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="carousel-caption">
                      <div class="row">
                        <div class="col-sm-12 col-12">
                          <div class="align-items-start">
                            <img
                              src="assets/images/team_06.jpg"
                              alt=""
                              class="img-left"
                            />
                          </div>
                          <h2 class="right-h p-3">
                            Helena Doe - <span>Architect</span>
                          </h2>
                          <p class="right-des">
                            Well incremented. Comes with recommended workout.
                            I'm using it to help with bladder leakage issues
                            that I've been experiencing since a recent
                            vasectomy.
                          </p>
                          <p class="right-small mr-2">- willi</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev left-down"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"
                ><i class="fa fa-chevron-left"></i
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next right-down"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"
                ><i class="fa fa-chevron-right"></i
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel -->
<!-- End Blog -->

<!-- Recent Blog Posts -->
<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Recent Blog Posts</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div id="demo" class="carousel slide" data-ride="carousel">
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="blog-tile">
                    <img
                      class="img-responsive p-2"
                      src="assets/images/product_01.jpg"
                      alt="#"
                    />
                    <div class="p-3">
                      <h4 class="pt-1 pb-1 proven-desc">Testing Management</h4>
                      <p class="pt-1 pb-1 blog-des">
                        The approach that drives results & builds meaningful
                        relationships. The approach that drives results & builds
                        meaningful relationships. The approach that drives
                        results & builds meaningful relationships.
                      </p>
                      <div class="blog-right">
                        <a href="#" class="ads-desc blk">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="blog-tile">
                    <img
                      class="img-responsive p-2"
                      src="assets/images/product_02.jpg"
                      alt="#"
                    />
                    <div class="p-3">
                      <h4 class="pt-1 pb-1 proven-desc">Customer Management</h4>
                      <p class="pt-1 pb-1 blog-des">
                        The approach that drives results & builds meaningful
                        relationships. The approach that drives results & builds
                        meaningful relationships. The approach that drives
                        results & builds meaningful relationships.
                      </p>
                      <div class="blog-right">
                        <a href="#" class="ads-desc blk">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="blog-tile">
                    <img
                      class="img-responsive p-2"
                      src="assets/images/product_03.jpg"
                      alt="#"
                    />
                    <div class="p-3">
                      <h4 class="pt-1 pb-1 proven-desc">Service Management</h4>
                      <p class="pt-1 pb-1 blog-des">
                        The approach that drives results & builds meaningful
                        relationships. The approach that drives results & builds
                        meaningful relationships. The approach that drives
                        results & builds meaningful relationships.
                      </p>
                      <div class="blog-right">
                        <a href="#" class="ads-desc blk">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="blog-tile">
                    <img
                      class="img-responsive p-2"
                      src="assets/images/product_04.jpg"
                      alt="#"
                    />
                    <div class="p-3">
                      <h4 class="pt-1 pb-1 proven-desc">Product Management</h4>
                      <p class="pt-1 pb-1 blog-des">
                        The approach that drives results & builds meaningful
                        relationships. The approach that drives results & builds
                        meaningful relationships. The approach that drives
                        results & builds meaningful relationships.
                      </p>
                      <div class="blog-right">
                        <a href="#" class="ads-desc blk">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Testimonials -->
