<!-- Contact US -->
<div class="latest-products" id="contactus">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Contact US</h2>
          </div>
        </div>
      </div>
      <div class="row pl-1">
        <div class="col-md-12" style="display: flex;">
          <div class="col-md-6">
            <form [formGroup]="contactform" (ngSubmit)="submit()">
              <div class="form-group rowdg">
                  <div class="col-md-10">
                      <label class="label-text">Full name </label>
                  </div>
                  <div class="col-md-10">
                      <input type="text" class="form-control" formControlName="name">
                  </div>
                  <div *ngIf="f.name.touched && f.name.invalid" class="alert">
                      <div *ngIf="f.name.errors.required">Name is required.</div>
                      <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>
                  </div>
              </div>
              <div class="form-group rowdg">
                  <div class="col-md-10">
                      <label class="label-text">Phone number </label>
                  </div>
                  <div class="col-md-10">
                      <input type="text" class="form-control" formControlName="number">
                  </div>
                  <div *ngIf="f.number.touched && f.number.invalid" class="alert">
                      <div *ngIf="f.number.errors.required">Number is required.</div>
                      <div *ngIf="f.number.errors.pattern">Invalid Phone number</div>
                  </div>
              </div>
              <div class="form-group rowdg">
                  <div class="col-md-10">
                      <label class="label-text">Email Address </label>
                  </div>
                  <div class="col-md-10">
                      <input type="text" class="form-control" formControlName="email">
                  </div>
                  <div *ngIf="f.email.touched && f.email.invalid" class="alert">
                    <div *ngIf="f.email.errors.required">Email is required.</div>
                    <div *ngIf="f.email.errors.pattern">Invalid email.</div>
                  </div>
              </div>
              <div class="form-group rowdg">
                  <div class="col-md-10">
                      <label class="label-text">Website URL </label>
                  </div>
                  <div class="col-md-10">
                      <input type="text" class="form-control" formControlName="website">
                  </div>
              </div>
              <div class="form-group rowdg">
                  <div class="col-md-10">
                      <label class="label-text">Your Goal </label>
                  </div>
                  <div class="col-md-10">
                      <input type="text" class="form-control" formControlName="goal">
                  </div>
              </div>
              <div class="form-group rowdg">
                  <div class="col-md-10">
                      <label class="label-text">Additional Details </label>
                  </div>
                  <div class="col-md-10">
                      <textarea class="form-control" formControlName="more"></textarea>              
                  </div>
              </div>
              
              <div class="form-group pb-4 pad-btn">
                  <button class="btn btn-primary" type="submit" [disabled]="checkBtn()">Submit</button>
              </div>
            </form>
          </div>
          <div class="col-md-6 img-us">
          </div>
        </div>
      </div>
    </div>
</div>