<!-- Contact US -->
<div class="latest-products" id="contactus">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Contact US</h2>
          </div>
        </div>
      </div>
      <div class="row pl-5">
        <div class="col-md-12">
          <div class="col-md-8">
            <div>
              <div class="form-group rowdg">
                  <div class="col-md-5">
                      <label class="label-text">Full name </label>
                  </div>
                  <div class="col-md-6">
                      <input type="text" class="form-control">
                  </div>
              </div>
              <div class="form-group rowdg">
                  <div class="col-md-5">
                      <label class="label-text">Phone number </label>
                  </div>
                  <div class="col-md-6">
                      <input type="text" class="form-control">
                  </div>
              </div>
              <div class="form-group rowdg">
                  <div class="col-md-5">
                      <label class="label-text">Email Address </label>
                  </div>
                  <div class="col-md-6">
                      <input type="text" class="form-control">
                  </div>
              </div>
              <div class="form-group rowdg">
                  <div class="col-md-5">
                      <label class="label-text">Website URL </label>
                  </div>
                  <div class="col-md-6">
                      <input type="text" class="form-control">
                  </div>
              </div>
              <div class="form-group rowdg">
                  <div class="col-md-5">
                      <label class="label-text">Your Goal </label>
                  </div>
                  <div class="col-md-6">
                      <input type="text" class="form-control">
                  </div>
              </div>
              <div class="form-group rowdg">
                  <div class="col-md-5">
                      <label class="label-text">Additional Details </label>
                  </div>
                  <div class="col-md-6">
                      <textarea class="form-control" maxlength="60" rows="2"></textarea>              
                  </div>
              </div>
            </div>
          
          <!-- <mat-dialog-content *ngIf="output">
              <div class="rowdg">
                  <div class="col">
                      <span *ngIf='success'>
                          {{successResponse}}
                      </span>
                      <span *ngIf='failure'>
                          {{failureResponse}}
                      </span>
                  </div>
              </div>
          </mat-dialog-content> -->
          
          <div class="pb-4 pad-btn">
              <button class="cbtn addcbtn">Submit</button> 
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>