<div class="page-heading products-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h2>Blog Posts</h2>
          <h4>See our recent blog posts!</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="blog-post columns-2">
    <li *ngFor="let post of data">
      <img
        src="{{post.postImgUrl}}" alt="{{post.postTitle}}"
      />
      <h3>{{post.postTitle}}</h3>
      <p>
        {{post.postDesc}}
      </p>
      <a class="button" [routerLink]="['post-data/', post._id]">Read More</a>
    </li>
  </ul>
</div>
